
a{
    color: black;
}
a:-webkit-any-link{
    text-decoration: none;
}
.active{
    color: red;
}
.container{
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}


